
binance-connector==3.1.1
binance-futures-connector==4.1.0

ccxt==4.4.26

deribit-api==1.1.1

future==1.0.0

matplotlib==3.7.3
matplotlib-inline==0.1.6

numpy==1.26.4
okx==2.1.1
openpyxl==3.1.2


pybit==5.8.0

pycoingecko==3.1.0


python-binance==1.0.17
python-kraken-sdk==3.1.1
python-okx==0.3.3
